<<<<<<< HEAD
p {
    font-family: 'Ubuntu', sans-serif;
=======
footer {
  margin-bottom: 0%;
  height: 180px;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
  background-color: #ff2800;
>>>>>>> db2a5b021d567f0c27f672c8c4e9d55e3d76ca38
}
