<app-header></app-header>

<h1>Willkommen bei Eventastic - Das Tool für tolle Events</h1>

<p>Das könnte Sie in "Ort" interessieren:</p>


<div class="buttonskategorie">

  <button>Alle</button>
  <button>Für Sie</button>
  <button>Online</button>
  <button>Heute</button>
  <button>Diese Wochenende</button>
  <button>Musik</button>
  <button>Essen und Trinken</button>
  <button>Wohltätigkeits- und Spendenaktionen</button>
  

</div>

<div class="event">
    <img src="assets/img/bild1.jpeg" alt="Veranstaltung 1">
    <h2>{{ test[0]['event_titel'] }}</h2>
    <p>Der Veranstalter ist: {{ test[0]['event_veranstalter'] }}, die Kategorie: {{ test[0]['event_kategorie'] }}</p>
    <button>Anmelden</button>
  </div>
  
  <div class="event">
    <img src="assets/img/bild2.jpg" alt="Veranstaltung 2">
    <h2>Veranstaltung 2</h2>
    <p>Beschreibung der Veranstaltung 2</p>
    <button>Anmelden</button>
  </div>
  
  <div class="event">
    <img src="assets/img/bild3.jpeg" alt="Veranstaltung 3">
    <h2>Veranstaltung 3</h2>
    <p>Beschreibung der Veranstaltung 3</p>
    <button>Anmelden</button>
  </div>

<app-footer></app-footer>
