<app-header></app-header>

<h1>Willkommen bei Eventastic</h1>



<div class="event">
    <img src="assets/img/bild1.jpeg" alt="Veranstaltung 1">
    <h2>Veranstaltung 1</h2>
    <p>Beschreibung der Veranstaltung 1</p>
    <button>Anmelden</button>
  </div>
  
  <div class="event">
    <img src="assets/img/bild2.jpg" alt="Veranstaltung 2">
    <h2>Veranstaltung 2</h2>
    <p>Beschreibung der Veranstaltung 2</p>
    <button>Anmelden</button>
  </div>
  
  <div class="event">
    <img src="assets/img/bild3.jpeg" alt="Veranstaltung 3">
    <h2>Veranstaltung 3</h2>
    <p>Beschreibung der Veranstaltung 3</p>
    <button>Anmelden</button>
  </div>

<app-footer></app-footer>
