<header>
    <div>
      <img routerLink="/homepage" class="logo" src="assets/img/Logo.jpg">
        <section>
            <div class="example-button-row">
              <button routerLink="/erstellen" mat-raised-button color="warn">Event erstellen</button>
              <button color="warn" mat-button [matMenuTriggerFor]="menu">Account/Ausloggen</button>
      
              <mat-menu #menu="matMenu">
                <button routerLink="/account" mat-menu-item>Account</button>
                <button (click)="abmeldung()" mat-menu-item>Ausloggen</button>
              </mat-menu>
            </div>
          </section>
    </div>
</header>

<h1>Willkommen bei Eventastic - Dem Tool für tolle Events</h1>

<div class="buttonskategorie">

  <button mat-raised-button>Alle</button>
  <button mat-raised-button>Für Sie</button>
  <button mat-raised-button>Online</button>
  <button mat-raised-button>Heute</button>
  <button mat-raised-button>Dieses Wochenende</button>
  <button mat-raised-button>Musik</button>
  <button mat-raised-button>Essen und Trinken</button>
  <button mat-raised-button>Wohltätigkeits- und Spendenaktionen</button>
  
</div>

  <div class="event" *ngFor="let i of Eventdaten">

   <h2>{{ i.event_titel}}</h2>
   <p>
    Veranstalter: {{ i.event_veranstalter}}
    <br>
    Typ des Events: {{ i.event_typ}}
    <br>
    Kategorie des Events: {{ i.event_kategorie}}
    <br>
    Adresse: {{ i.event_adresse}}
    <br>
    Stadt: {{ i.event_stadt}}
    <br>
    Bundesland: {{ i.event_bundesland}}
    <br>
    Postleitzahl: {{ i.event_plz}}
    <br>
    Land: {{ i.event_land}}
    <br>
    Beginndatum: {{ i.event_startdatum}}
    <br>
    Enddatum: {{ i.event_enddatum}}
    <br>
    Startzeit: {{ i.event_startzeit}}
    <br>
    Endzeit: {{ i.event_endzeit}}
   </p>
    <button>Anmelden</button>
  </div>

<app-footer></app-footer>>
