<div class="registrierungmaske">
  <h2>Registrierung</h2>
  <p>Bitte geben Sie Ihren Namen ein:</p>

  <mat-form-field appearance="fill" class="abstand">
    <mat-label>Vorname</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nachname</mat-label>
    <input matInput>
  </mat-form-field>

  <p>Bitte legen Sie ein Password fest:</p>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <p>Password wiederholen:</p>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button routerLink="/anmeldung">Registrieren</button>
  </div>
