<div class="anmeldemaske">
  <h2>Anmeldung</h2>
  <p>Bitte geben Sie Ihre Loggindaten ein:</p>

<mat-form-field appearance="fill" class="abstand">
  <mat-label>E-Mail</mat-label>
  <input matInput>
</mat-form-field>

<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <div>
    <button routerLink="/account">Anmelden</button>
  </div>

  <p>Noch kein Konto?</p>
  <button routerLink="/registrierung">Registrieren</button>
</div>
