 <form class="erstellung-formular" formGroup="ErstellungForm" (submit)="submit()">

<div class="erstellungsmaske">
  <h1>Event erstellen</h1>
  <p>Hier können Sie Ihrem geplanten Event alle benötigten Informationen hinzufügen.</p>
  <h3>Eckdaten</h3>

  <mat-form-field appearance="fill" class="abstand">
    <mat-label>Eventtitel</mat-label>
    <input matInput formControlName="eventtitel" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Veranstalter</mat-label>
    <input matInput formControlName="veranstalter" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="abstand">
    <mat-label>Typ</mat-label>
    <mat-select formControlName="typ" required>
      <mat-option value="konferenz">Konferenz</mat-option>
      <mat-option value="seminar">Seminar</mat-option>
      <mat-option value="tagung">Tagung</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" >
    <mat-label>Kategorie</mat-label>
    <mat-select formControlName="kategorie" required>
      <mat-option value="familie">Familie und Bildung</mat-option>
      <mat-option value="geschäftlich">Geschäftlich und Professionell</mat-option>
      <mat-option value="regierung">Regierung und Politik</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-divider></mat-divider>

  <h3>Veranstaltungsort</h3>

  <p>Geben Sie an, wo Ihre Veranstaltung stattfindet.</p>

  <mat-form-field appearance="fill" class="abstand">
    <mat-label>Adresse</mat-label>
    <input matInput formControlName="adresse" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Stadt</mat-label>
    <input matInput formControlName="stadt" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="abstand">
    <mat-label>Bundesland</mat-label>
    <input matInput formControlName="bundesland" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>PLZ</mat-label>
    <input matInput formControlName="plz" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="abstand">
    <mat-label>Land</mat-label>
    <input matInput formControlName="land" required>
  </mat-form-field>

  <mat-divider></mat-divider>

  <h3>Datum und Uhrzeit</h3>
  
  <p>Geben Sie an, wann genau Ihre Veranstaltung stattfindet.</p>

  <p>Eventbeginn</p>
  <input type="date" formControlName="eventbeginn" required>
  <p>Startzeit</p>
  <input type="time" formControlName="startzeit" required>

  <br>

  <p>Eventende</p>
  <input type="date" formControlName="eventende" required>
  <p>Uhrzeit</p>
  <input type="time" formControlName="uhrzeit" required>

  <button
  mat-raised-button
  type="submit"
  >Erstellen
</button>

  </div>
</form>

<!-- <p>[disabled]="!ErstellungForm.valid"</p> -->
