button {
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

/*
html, body { 
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}
*/

/*
body { 
  margin: 0; 
  //font-family: Roboto, "Helvetica Neue", sans-serif; 
}
*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
