<header>
  <div>
    <img routerLink="/homepage" class="logo" src="assets/img/Logo.jpg">
      <section>
          <div class="example-button-row">
            <button routerLink="/erstellen" mat-raised-button color="warn">Event erstellen</button>
            <button color="warn" mat-button [matMenuTriggerFor]="menu">Account/Ausloggen</button>
    
            <mat-menu #menu="matMenu">
              <button routerLink="/account" mat-menu-item>Account</button>
              <button (click)="abmeldung()" mat-menu-item>Ausloggen</button>
            </mat-menu>
          </div>
        </section>
  </div>
</header>

<div class="sidenav">
    <a (click)="showPersoenlicheDaten=true; showMeineEvents=false; showPasswortAendern=false">Persönliche Daten</a>
    <a (click)="showPersoenlicheDaten=false; showMeineEvents=true; showPasswortAendern=false">Meine Events</a>
    <a (click)="showPersoenlicheDaten=false; showMeineEvents=false; showPasswortAendern=true">Password ändern</a>
</div>

<div *ngIf="showPersoenlicheDaten" class="main">
    <h2>Persönliche Daten</h2>
    <p>Hier wird der Text für die Register stehen.</p>
</div>

<div *ngIf="showMeineEvents" class="main">
  <h2>Meine Events</h2>
  <p>Hier stehen meine Events!</p>
</div>

<div *ngIf="showPasswortAendern" class="main">
  <h2>Passwort ändern</h2>
  <p>Hier kann man sein Passwort ändern!</p>
</div>

<app-footer></app-footer>
